<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4">

		<div class="card bg-danger text-white">
			<div class="card-header">Error de acceso denegado!!</div>
			<div class="card-body">
				<h5 class="card-title">
					Lo sentimos <span th:text="${#httpServletRequest.remoteUser}"></span>,
					No tenes permisos para acceder a este Recurso.
				</h5>
				<a th:href="@{/listar}" class="btn btn-outline-light" role="button">Ir al Inicio</a>
			</div>
		</div>



	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>